body {
  margin: 0;
  padding: 0;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin: 0 30px;
}

.logo p {
  color: MediumAquamarine;
  margin-left: 10px;
}

header nav {
  margin: 0 50px;
}

header li, footer li {
  display: inline-block;
  margin: 0 10px;
  color: black;
}

header nav a {
  color: black;
}

hr {
  border-top: 1px solid black;
  margin-bottom: 0;
}

main {
  padding-top: 30px;
  margin: 0 auto 80px auto;
  display: flex;
  justify-content: space-between;
  width: 1232px;
}

.column.large {
  width: 630px;
  margin-right: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column.medium {
  width: 300px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

div.image {
  display: flex;
  align-items: center;
  text-align: center;
}

div.image h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

div.image h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#phish {
  width: 630px;
}

#phish .image {
  height: 300px;
  background-image: url(images/phish-story.png);
  text-align: left;
  padding-left: 20px;
}

#orca, #burger {
  width: 300px;
}

#orca h2, #burger h2, #action h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  margin: 20px 0 16px 0;
}

#action h2 {
  margin-top: 0;
}

#orca p, #burger p {
  margin: 20px 0 16px 0;
}

#earth {
  background-image: url(images/earth-story.png);
  width: 300px;
  height: 300px;
}

#cameras {
  background-image: url(images/camera-story.png);
  width: 300px;
  height: 300px;
}

#cats div {
  background-image: url(images/cat-story.png);
  width: 300px;
  height: 300px;
  margin-top: 15px;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#news-bites-menu p {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 20px;
  margin: 0;
}

.column.small h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

footer {
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  color: black;
}

footer section {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer h3 {
  width: 105px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  margin-top: 0;
}

footer ul {
  margin-top: 0;
  padding-left: 30px;
}

footer nav a {
  color: black;
}

footer p {
  margin-top: 0;
}
