body {
  margin: 0;
  padding: 0;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin: 0 30px;
}

.logo p {
  color: MediumAquamarine;
  margin-left: 10px;
}

nav {
  margin: 0 50px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  color: black;
}

nav a {
  color: black;
}

hr {
  border-top: 1px solid black;
  margin-bottom: 0;
}

main {
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1232px;
}

main, div {
  border: 1px solid black;
}

.column.large {
  width: 630px;
  //margin-right: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column.medium {
  width: 300px;
  //margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  //margin-right: 30px;
  display: flex;
  flex-direction: column;
}

div.image {
  display: flex;
  align-items: center;
  text-align: center;
}

div.image h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

div.image h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

div.side-by-side {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#phish {
  width: 630px;
}

#phish .image {
  background-image: url(images/phish-story.png);
}

#orca, #burger {
  width: 300px;
}

#orca h2, #burger h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  margin: 20px 0 16px 0;
}

#orca p, #burger p {
  margin: 20px 0 16px 0;
}

#earth {
  background-image: url(images/earth-story.png);
  width: 300px;
  height: 300px;
}

#cameras {
  background-image: url(images/camera-story.png);
  width: 300px;
  height: 300px;
}

#cats {
  background-image: url(images/cat-story.png);
  width: 300px;
  height: 300px;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
